img{
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    max-width: 154px;
    margin-top: 16px;
    padding: 30px 25px 43px;
    margin-top: 40px;
    margin-left: 70px;
}
.p{
    color: #716f85;
    line-height: 26px;
    margin: 0;
    font-size: 15px;
}
    